name: Update

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Get latest version
        id: version
        run: |
          {
            echo -n 'version='
            gh api repos/bitwarden/clients/git/refs/tags -q '.[] | select(.ref | startswith("refs/tags/cli-v")) | .ref | ltrimstr("refs/tags/cli-v")' | sort -V | tail -1
          } >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Update version string
        run: |
          sed -Ei 's/(BW_VERSION=)[0-9.]+/\1${{ steps.version.outputs.version }}/' Dockerfile

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          title: 'Update Bitwarden version'
          body:
          commit-message: 'Update Bitwarden version'
          branch: update-bitwarden
          delete-branch: true
